
                            Uma nova atividade foi registrada no Sicadi.

                                    Detalhes da atividade
                
                Cliente: {{ registro.cliente }}

                Colaborador: {{ registro.registrado_por }}

                Tipo de contrato: {{ registro.tipo_contrato }}

                Atividade: {{ registro.atividade }}

                Data de agenda: {{ registro.dt_agenda }}

                Total de horas: {{ registro.horas_bruto }}

                Status: {{registro.get_status_display }}

                Descrição: {{ registro.descricao }}

                Formato: {{ registro.get_formato_display }}

                Chamado: {{ registro.chamado }}

                Alimentação: {{ registro.alimentacao }}

                Hospedagem: {{ registro.hospedagem }}

                Pedágio: {{ registro.pedagio }}

                Outros: {{ registro.outros }}

                Observações: {{ registro.obs }}
                    
  
            Atenciosamente,
            SICADI
